:root {
   --card: #f7f7f7;
}

.site-header {
    border-bottom: 1px solid lightgray;
    background-color: var(--card)
}

.site-header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.container {
    width: 92%;
    padding: 1rem;
}

.nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}

.nav a {
    text-decoration: none;
}