:root {
   --card: #f7f7f7;
   --bg: #ffffff;
   --fg: #222222;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg);
    color: var(--fg);
}

.site-header {
    border-bottom: 1px solid lightgray;
    background-color: var(--card)
}

.site-header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

main.container {
    width: 92%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}

.nav a {
    text-decoration: none;
}

.card {
    background-color: var(--card);
    padding: 1rem;
    border-radius: 8px;
}

.site-footer .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-style: italic;
}